<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Content Creator</display-name>

    <servlet>
        <servlet-name>Queries</servlet-name>
        <servlet-class>
            ccc.contentcreator.remoting.QueriesImpl
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Commands</servlet-name>
        <servlet-class>
            ccc.contentcreator.remoting.CommandsImpl
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>
            ccc.contentcreator.remoting.FileUploadServlet
        </servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Queries</servlet-name>
        <url-pattern>/queries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Commands</servlet-name>
        <url-pattern>/commands</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>ContentCreator.html</welcome-file>
    </welcome-file-list>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Secure Area</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <!-- TODO: Confirm that other methods are always denied. -->
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMINISTRATOR</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/Login.html</form-login-page>
            <form-error-page>/LoginError.html</form-error-page>
        </form-login-config>
    </login-config>


</web-app>
