## < -- FOOTER START -- >
##<%
##String szStyle = communicata.Util.nvl((String) session.getAttribute("theStyle"),"Rich");
##%>
<div id="footer" class="clearDiv">
        <div id="footleft">
                <ul>
                        <li><a href="#top" class="backtop">Back to top</a></li>
                        <li><a href="javascript:self.print();">Print this page</a></li>
                        <li><a href="3825.11.html">Content Disclaimer</a></li>
                        <li><a href="3822.11.html">Accessibility</a></li>
                        ##<% if(szStyle.equalsIgnoreCase("Rich")){ %>
##<li><a href="<ccctl:CurrentContentUrl/>?pStyle=plain">Low Graphics</a></li>
##<%} else {%>
<li><a href="<ccctl:CurrentContentUrl/>?pStyle=rich">High Graphics</a></li>
##<%}%>
                        <li class="nobord">&copy; ASH Scotland #currentYear</li>
                </ul>
                <p>ASH Scotland is a registered Scottish charity (SC 010412) and a company limited by guarantee<br />(Scottish company no 141711). The registered office is 8 Frederick Street, Edinburgh EH2 2HB</p>
        </div>
        <div id="footright"><p>ASH Scotland acknowledges with thanks the support of <a href="http://www.bhf.org.uk/">the British Heart Foundation</a> and <a href="http://www.scotland.gov.uk/Home">the Scottish Government</a> in developing our website.</p>
        <ul>
                <li><a href="http://www.bhf.org.uk/" class="bhf">British Heart Foundation</a></li>
                <li><a href="http://www.scotland.gov.uk/Home" class="sg">Scottish Government</a></li>
        </ul>
        </div>
</div>
## < -- FOOTER END-- >
