##  < -- HEADER START -- >
##<ccctl:CheckContent />
##<ctl:pageNotCachedTag />
<div id="headerbg" class="clearDiv">
        <div id="header">
                <div id="logoflt">
                        <div id="logo"><a accesskey="1" href="/server/content/Home/Homepage"
 title="ash scotland - Action on Smoking and Health - return to homepage">ash scotland - Action on Smoking and Health<span></span></a></div>
                </div>
                <div id="links">
<form action="ash_redirect.jsp" method="get" id="quicklinks">
<label for="jump" class="skiplinks"><em>Jump to:</em> </label>
<select id="jump" name="pRedirect">
<option value="pContentID=3861&pMenuID=11&" selected="selected">Quick links</opt
ion>
<option value="pContentID=3861&pMenuID=11&">-- Initiatives</option>
<option value="pContentID=3963">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training</option>
<option value="pContentID=4240">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Collection</option>
<option value="pContentID=3781">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funded Projects</option>
<option value="pContentID=3356&pMenuID=6&pElementID=72">&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;Inequalities</option>
<option value="pContentID=4063&&pElementID=301&pMenuID=6">&nbsp;&nbsp;&nbsp;&nbs
p;&nbsp;Buddy Project</option>
<option value="pContentID=3802&pMenuID=11&">-- Information</option>
<option value="pContentID=3359&pMenuID=7&pElementID=79">&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;Statistics</option>
<option value="pContentID=3483">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Briefing Papers</o
ption>
<option value="pContentID=3368">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policies / Reports
</option>
<!--
<option value="pContentID=4884&pMenuID=7&pElementID=681">&nbsp;&nbsp;&nbsp;&nbsp
;&nbsp;Case Studies</option>
-->
<option value="pContentID=6066">-- Alliances</option>
<option value="pContentID=3357&pMenuID=6&pElementID=73">&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;STCA</option>
<option value="pContentID=4244">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCOT/Scotland CAN!
</option>
</select>
<input type="submit" class="btnsearch" value="Go" />
</form>
<form id="searchForm" name="searchForm" action="controller" method="get"><label
for="searchtext" class="skiplinks"><em>Site Search:&nbsp;</em></label><input type="text" value="Search the site" name="pText" onfocus="if(this.value=='Search the site')this.value='';" id="searchtext" />&nbsp;<input name="search" type="submit" onclick="javascript:document.searchForm.submit();" onkeypress="javascript:document.searchForm.submit();" value="Go"  class="btnsearch"/><input type="hidden"
 name="p_service" value="Front.search" /><input type="hidden" name="pSearchBy" value="content-all" /><input type="hidden" name="pType" value="Pages" /><input type="hidden" name="pStatus" value="PUBLISHED" /><input type="hidden" name="p_applic" value="CCC" /><input type="hidden" name="pGetSummaryLength" value="500" /></form>
<p><a href="3423.11.223.html">Contact Us</a> | <a href="3366.11.223.html" access
key="3">Site Map</a></p>
</div>
<hr class="skiplinks" />
<a name="mainnav"></a>
<em class="skiplinks">Main Navigation:&nbsp;</em>
                <div id="topnav">
                        <ul>
                        <li><a href="/server/content/Home/Homepage" class="navhome">Home</a></li>
                        <li><a href="/server/content/Media/Main_intro_for_media" class="navmedia">Media</a></li>
                        <li><a href="/server/content/Policy/Policy_introduction" class="navpol">Policy</a></li>
                        <li><a href="/server/content/Information_Service/Inf_Service_main_intro" class="navinfo">Information</a></li>
                        <li><a href="/server/content/Projects/Projects_main_intro" class="navpro">Projects</a></li>
                        <li><a href="/server/content/Alliances/Alliances_joint_intro_page" class="navall">Alliances</a></li>
                        <li><a href="/server/content/Training_and_Development/Training" class="navtrain">Training</a></li>
                        <li><a href="/server/content/Quit_Smoking/Quit_smoking" class="navquit nomar">Quit smoking</a></li>
                        </ul>
                </div>
        </div>
        </div>
        
##  < -- HEADER END -- >
