#set($levels = [])
#set($swallow = "a")
#set($path = $resource.absolutePath().elements())

#set( $randomStyles = ["one", "two", "three", "four", "five", "six", "seven", "eight"] )

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Include is:CCC_DisplayTemplateSource.jsp-->
<title>ASH Scotland - Action on Smoking and Health - $resource.title()</title>

##<%-- Requested by ASH * START * --%>
<meta name="verify-v1" content="ulRA8cYZ4XmttYDSSaAakgIfTCGTokyl4qPANinByx4=" />
##<%-- * END * --%>

<link href="/server/assets/css/basic.css" rel="stylesheet" type="text/css" media="screen" />

<style type="text/css" media="screen">
<!--
@import url(/server/assets/css/advanced.css); 
-->
</style>
<!--[if IE 7]>
<link href="css/ie7_only.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->


<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="robots" content="noodp" />
##<meta name="description" content="$resource.paragraph("Description_Custom").text()" />
##<meta name="keywords" content="ASH Scotland $resource.paragraph("Keywords_Custom").text()" />
<link rel="shortcut icon" href="images/favicon.ico" />
<script type="text/javascript" language="JavaScript" src="FS_Functions.js"></script>
<ccctl:displayPageElement element="JSCRIPT" />
</head>

<body id="home" class="$randomStyles.get($helper.random().nextInt(8))"> 


<ccctl:WebSideStory/>
<a name="top"></a>
	<ul class="skiplinks">
      <li><a href="#content" class="skiplinks" accesskey="5">Skip to Content</a></li>
      <li><a href="#mainnav" class="skiplinks" accesskey="6">Skip to Main Navigation</a></li>
	</ul>
<div id="container">

#includeTemplate("/templates/ash_header")

<hr class="skiplinks" />
	<div id="middlebg">
		<div id="middle">
			<div id="toppanel" class="clearDiv">
<a name="sectionnav"></a>
				<div id="leftnav">
<!-- new tag -->
<ccctl:MenuTag mode="submenu" menuID="subnav" />
#menutag
				</div>
				<div id="quote"><h1>$resource.paragraph("HEADER").text()</h1></div>
			</div>
			
 			<div id="midpanel" class="clearDiv">
				<div class="panelhome pone">
					<h2>$resource.paragraph("Subheader_One").text()</h2>
					$resource.paragraph("Image_One").text()
					$resource.paragraph("Text_One").text()
				</div>
				<div class="panelhome ptwo">
				<h2>$resource.paragraph("Subheader_Two").text()</h2>
					$resource.paragraph("Image_Two").text()
					$resource.paragraph("Text_Two").text()
				</div>
				<div class="panelhome pthree">
				<h2>$resource.paragraph("Subheader_Three").text()</h2>
					$resource.paragraph("Image_Three").text()
					$resource.paragraph("Text_Three").text()
				</div>
			</div>
			<div id="botpanel">
			$resource.paragraph("CONTENT").text()
			</div>
 		</div> 
	</div>
<hr class="skiplinks" />

#includeTemplate("/templates/ash_footer")
</div>
</body>
</html>
			