<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

<title>ASH Scotland - Action on Smoking and Health - $resource.title()</title>
<link href="http://www.ashscotland.org.uk/css/basic.css" rel="stylesheet" type="text/css" media="screen" />
##<% if(szStyle.equalsIgnoreCase("Rich")){ %>
<style type="text/css" media="screen">
<!--
##@import url(css/advanced.css);
@import url(http://www.ashscotland.org.uk/css/advanced.css); ## should be relative
-->
</style>
<!--[if IE 7]>
<link href="css/ie7_only.css" rel="stylesheet" type="text/css" media="screen" />
<![endif]-->
##<%}%>

<link href="css/print.css" rel="stylesheet" type="text/css" media="print" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="robots" content="noodp" />

<link rel="shortcut icon" href="images/favicon.ico" />
<script type="text/javascript" language="JavaScript" src="FS_Functions.js"></script>
<ccctl:displayPageElement element="JSCRIPT" />
</head>
<body id="$resource.computeStyleSheet()">

<ccctl:WebSideStory/>
<a name="top"></a>
	<ul class="skiplinks">
      <li><a href="#content" class="skiplinks" accesskey="5">Skip to Content</a></li>
      <li><a href="#mainnav" class="skiplinks" accesskey="6">Skip to Main Navigation</a></li>
      <li><a href="#sectionnav" class="skiplinks" accesskey="7">Skip to Section Navigation</a></li>
	</ul>
<div id="container">


###<jsp:include page="ash_header.jsp" flush="true" />
##  < -- HEADER START -- >
##<ccctl:CheckContent />
##<ctl:pageNotCachedTag />
<div id="headerbg" class="clearDiv">
        <div id="header">
                <div id="logoflt">
                        <div id="logo"><a accesskey="1" href="/server/content/Home/Homepage"
 title="ash scotland - Action on Smoking and Health - return to homepage">ash scotland - Action on Smoking and Health<span></span></a></div>
                </div>
                <div id="links">
<form action="ash_redirect.jsp" method="get" id="quicklinks">
<label for="jump" class="skiplinks"><em>Jump to:</em> </label>
<select id="jump" name="pRedirect">
<option value="pContentID=3861&pMenuID=11&" selected="selected">Quick links</opt
ion>
<option value="pContentID=3861&pMenuID=11&">-- Initiatives</option>
<option value="pContentID=3963">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Training</option>
<option value="pContentID=4240">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data Collection</option>
<option value="pContentID=3781">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Funded Projects</option>
<option value="pContentID=3356&pMenuID=6&pElementID=72">&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;Inequalities</option>
<option value="pContentID=4063&&pElementID=301&pMenuID=6">&nbsp;&nbsp;&nbsp;&nbs
p;&nbsp;Buddy Project</option>
<option value="pContentID=3802&pMenuID=11&">-- Information</option>
<option value="pContentID=3359&pMenuID=7&pElementID=79">&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;Statistics</option>
<option value="pContentID=3483">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Briefing Papers</o
ption>
<option value="pContentID=3368">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policies / Reports
</option>
<!--
<option value="pContentID=4884&pMenuID=7&pElementID=681">&nbsp;&nbsp;&nbsp;&nbsp
;&nbsp;Case Studies</option>
-->
<option value="pContentID=6066">-- Alliances</option>
<option value="pContentID=3357&pMenuID=6&pElementID=73">&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;STCA</option>
<option value="pContentID=4244">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SCOT/Scotland CAN!
</option>
</select>
<input type="submit" class="btnsearch" value="Go" />
</form>
<form id="searchForm" name="searchForm" action="controller" method="get"><label
for="searchtext" class="skiplinks"><em>Site Search:&nbsp;</em></label><input type="text" value="Search the site" name="pText" onfocus="if(this.value=='Search the site')this.value='';" id="searchtext" />&nbsp;<input name="search" type="submit" onclick="javascript:document.searchForm.submit();" onkeypress="javascript:document.searchForm.submit();" value="Go"  class="btnsearch"/><input type="hidden"
 name="p_service" value="Front.search" /><input type="hidden" name="pSearchBy" value="content-all" /><input type="hidden" name="pType" value="Pages" /><input type="hidden" name="pStatus" value="PUBLISHED" /><input type="hidden" name="p_applic" value="CCC" /><input type="hidden" name="pGetSummaryLength" value="500" /></form>
<p><a href="3423.11.223.html">Contact Us</a> | <a href="3366.11.223.html" access
key="3">Site Map</a></p>
</div>
<hr class="skiplinks" />
<a name="mainnav"></a>
<em class="skiplinks">Main Navigation:&nbsp;</em>
                <div id="topnav">
                        <ul>
                        <li><a href="/server/content/Home/Homepage" class="navhome">Home</a></li>
                        <li><a href="/server/content/Media/Main_intro_for_media" class="navmedia">Media</a></li>
                        <li><a href="/server/content/Policy/Policy_introduction" class="navpol">Policy</a></li>
                        <li><a href="/server/content/Information_Service/Inf_Service_main_intro" class="navinfo">Information</a></li>
                        <li><a href="/server/content/Projects/Projects_main_intro" class="navpro">Projects</a></li>
                        <li><a href="/server/content/Alliances/Alliances_joint_intro_page" class="navall">Alliances</a></li>
                        <li><a href="/server/content/Training_and_Development/Training" class="navtrain">Training</a></li>
                        <li><a href="/server/content/Quit_Smoking/Quit_smoking" class="navquit nomar">Quit smoking</a></li>
                        </ul>
                </div>
        </div>
        </div>
        
##  < -- HEADER END -- >
<hr class="skiplinks" />
	<div id="middlebg">
		<div id="middle" class="clearDiv">
			<div id="left">
<a name="sectionnav"></a>

				<div id="leftnav" class="clearDiv">
<!-- new tag -->
<ccctl:MenuTag mode="submenu" menuID="subnav" />
<ul id="subnav">
#foreach( $page in $resource.parent().entries() )
	<li id="lf3381"  class="leaf">
<a id="m221" href="$page.name()">$page.title()</a>
	</li>
#end
</ul>
				</div>
			</div>	
<hr class="skiplinks" />		
			<div id="right">
				<div id="righttop">
					<div id="rightpng">
					<h1>$resource.paragraph("HEADER").text()</h1>
					#optional('SUMMARY' '' '')
					</div>
				</div>
				<div id="rtcontent">

				#optional('PanelOne_Custom' '<div id="panel">' '</div>') 

				$resource.paragraph("CONTENT").text()
				</div>
			</div>
 		</div> 
	</div>
<hr class="skiplinks" />


## < -- FOOTER START -- >
##<%
##String szStyle = communicata.Util.nvl((String) session.getAttribute("theStyle"),"Rich");
##%>
<div id="footer" class="clearDiv">
        <div id="footleft">
                <ul>
                        <li><a href="#top" class="backtop">Back to top</a></li>
                        <li><a href="javascript:self.print();">Print this page</a></li>
                        <li><a href="3825.11.html">Content Disclaimer</a></li>
                        <li><a href="3822.11.html">Accessibility</a></li>
                        ##<% if(szStyle.equalsIgnoreCase("Rich")){ %>
##<li><a href="<ccctl:CurrentContentUrl/>?pStyle=plain">Low Graphics</a></li>
##<%} else {%>
<li><a href="<ccctl:CurrentContentUrl/>?pStyle=rich">High Graphics</a></li>
##<%}%>
                        <li class="nobord">&copy; ASH Scotland <%=String.valueOf(java.util.Calendar.getInstance().get(java.util.Calendar.YEAR))%></li>
                </ul>
                <p>ASH Scotland is a registered Scottish charity (SC 010412) and a company limited by guarantee<br />(Scottish company no 141711). The registered office is 8 Frederick Street, Edinburgh EH2 2HB</p>
        </div>
        <div id="footright"><p>ASH Scotland acknowledges with thanks the support of <a href="http://www.bhf.org.uk/">the British Heart Foundation</a> and <a href="http://www.scotland.gov.uk/Home">the Scottish Government</a> in developing our website.</p>
        <ul>
                <li><a href="http://www.bhf.org.uk/" class="bhf">British Heart Foundation</a></li>
                <li><a href="http://www.scotland.gov.uk/Home" class="sg">Scottish Government</a></li>
        </ul>
        </div>
</div>
## < -- FOOTER END-- >
</div>
</body>
</html>
