#macro( hello )hello!#end
#macro( echo $msg)$msg#end

#macro(currentYear)
	$helper.currentYear()
#end

#macro(includeTemplate $path)
	#set ($pathObject = $helper.path($path))
	#set ($template = $reader.lookup("assets", $pathObject ))
	#evaluate($template.body())
#end

#macro( optional $name $startText $endText)
   #foreach( $para in $resource.paragraphs() )
      #if ($para.name() == $name)      
         $startText
         $para.text()
         $endText
      #end
   #end
#end

#macro (menuTag)
	#set ($levels = $helper.selectPathElements($resource))
    #if(!$startLevel)
		#set ($startLevel = 1) 
	#end

	<ul id="$menuID">
	<!-- Levels to display $levels.size() -->
	#menulevel($startLevel)
	</ul>
#end


#macro ( menulevel $depth) 
<!-- this level $depth -->
	#foreach( $entry in $levels.get($depth).parent().entries() )
		#if ($entry.includeInMainMenu())
		   #if ($entry.name() == $resource.name())
		      <li class="hot">
		         <a href="/server$entry.absolutePath()">$entry.title()</a>
		      </li>
		   #elseif ($entry.name() == $levels.get($depth).name()) 
		      <li class="open">
		         <a href="/server$entry.absolutePath()">$entry.title()</a>
		      #if ($depth != 0)
		      <ul>
				#set($newdepth = $depth + 1)
				#menulevel($newdepth )
		      </ul>
		      #end
		      </li>
		   #else
		      <li class="leaf">
		         <a href="/server$entry.absolutePath()">$entry.title()</a>
		      </li>
		   #end
		#end
	#end
#end